doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
  body
    block content
